<!DOCTYPE html>
<html>
  <head>
    <title>RailsGuide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="nav navbar">
    <li class="active"><a href="/ideas">Ideas</a></li>
    <p class="navbar-text pull-right">
     <li> <% if user_signed_in? %>
          <%= image_tag current_user.gravatar_url %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p></li>

  </nav>
  <div class="container">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
  <footer>
    <div class="container">
      Rails Guide Denemeler <%= Time.now.year %>
    </div>
  </footer>

  </body>
</html>
