<!DOCTYPE html>
<html>
  <head>
    <title>RailsGuide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="nav">
    <li class="active"><a href="/ideas">Ideas</a></li>

  </nav>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <div class="container">
      Rails Guide Denemeler <%= Time.now.year %>
    </div>
  </footer>
  </body>
</html>
